<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="index" appConnect="local" components="{dmxStripe:{},dmxNotifications:{},dmxFormatter:{}}" -->
<h1>Shopping</h1>
<input id="inp_qty" name="inp_qty" type="text" class="form-control">

<button id="btn1" class="btn btn-primary" dmx-on:click="cart.upsert({sku: 'my_cool_product'},{qty: `qty + inp_qty.value.toNumber()`, sku: 'my_cool_product', product_name: 'My Cool Product'})">Add item to cart</button>


<meta name="ac:route" content="/">